<!-- Posts from place -->

<h1><%= @place["name"] %> Memories </h1>

<ul>
  <% for entry in @entries %>
    <li>
      <h2> <%= entry["title"] %> </h2>
      <h3> <%= entry["posted_on"] %> </h3>
      <%= entry["description"] %>
    </li>
  <% end %>
</ul>

<p>
  <a href="/entries/new?place_id=<%= @place.id %>">New Post</a>
</p>

<p>
  <a href="/places">Back to All Places</a>
</p>

